# Ignore the virtual environment
venv

# Ignore compiled Python source files
*.pyc

# Ignore SQLite database files
*.sqlite3

# Ignore OSX files
.DS_Store

# Ignore all coverage reports and test output
.coverage
coverage.xml
unittests.xml

# Ignore build and test artifacts
target
reports